{
    "base": {
        "width": <width_base>,
        "height": <height_base>
    },
    "variants": {
        "width": <width_variants>,
        "height": <height_variants>
    },
    "maxLevel": 20
}

